*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30, 52, 61);
}

/* defaults */
button {
    display: block;
    color: #fff;
    border: none;
    background: rgb(18, 18, 19);
    border-radius: 8px;
    font-size: 1rem;
    padding: .4em .8em;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    opacity: .7;
}

/* navigation menu */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: .5em;
    z-index: 1;
}
.nav-wrapper {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative;
    transition: all .3s linear;

}

ul {
    /* width: 45%; */
    /* border: 1px solid gold; */
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 3rem;
}

li {
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
}

.bars {
    display: none;
}

section::before {
    content: '';
    background: url('./images/hero.svg') center/cover no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

section {
    display: grid;
    place-items: center;
}
.section-info {
    width: 90vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info {
    padding: 1em;
}
.info h1 {
    font-size: 5rem;
}

.info p {
    margin: .5em 0;
    font-size: 1.1rem;
    /* width: 90%; */
    line-height: 2rem;
    color: rgb(86, 112, 133);
}

.info button {
    display: block;
    margin-top: 1em;
}

.image {
    display: block;
    margin-top: -4em;
    justify-self: center;
}
.image img {
    height: 90%;
}

/* Menu  */
.menu-container {
    /* display: none; */
    position: absolute;
    top: 0%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:  100%;
    z-index: 100;
    transition: all .4s ease-in-out;
    transform: scale(0);
}

.menu-bar {
    width: 93vw;
    height: 95vh;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    padding: 2em;
    margin-top: 1.5em;
}

.btn-menu {
    /* border: 1px solid black; */
    position: relative;
    height: 9vh;
}

.btn-menu button {
    background: transparent;
    color: rgba(0, 0, 250, 0.5);
    font-size: 2.4rem;
    padding: 0;
    position: absolute;
    right: 0;
}
.btn-menu button:hover {
    color: rgba(0, 0, 0, 0.5);
}

.menu-links {
    padding: .5em;
    text-transform: capitalize;
}

.menu-items {
    margin-bottom: 1.3em;
}

.menu-items h3 {
    font-size: .9rem;
    letter-spacing: 1px;
    margin-bottom: .4em;
}

.menu-itemlinks {
    /* border: 1px solid red; */
    padding: .4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
}

a {
    font-size: .8rem;
    text-decoration: none;
    color: rgb(3, 28, 53);
}

.i-menu {
    margin-right: 1em;
    font-size: .9rem;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    background: #fff;
    border-radius: 5px;
    padding: .5em;
    z-index: 3;
}

.submenu::before {
    content: '';
    display: block;
    width: 0px;
    /* height: 0; */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.submenu-header {
    padding: 2em;
}
.submenu-header h3 {
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: .5em;
    margin-left: 1em;
}

.submenu-items {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}


/* Responsiveness */

@media screen and (max-width: 1290px) {
    .info h1 {
        font-size: 4rem;
    }
    .image {
        margin-top: 0;
    }
}
@media screen and (max-width: 1050px) {
    .info h1 {
        font-size: 3rem;
    }
    .info p {
        font-size: 1rem;
    }
    .section-info {
        column-gap: 2em;
    }
    .image img {
        height: 80%;
    }
}
@media screen and (max-width: 858px) {
    .info h1 {
        width: 100%;
        font-size: 2.5rem;
    }
    .image {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    /* displaing menu  */
    ul, .signIn {
        display: none;
    }
    .nav-wrapper {
        display: block;
    }
    .bars {
        display: block;
    }
    .nav-menu {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section {
        margin-top: 3em;
    }
}

@media screen and (max-width: 695px) {
    .section-info {
        place-self: center;
    }
    .info h1 {
        font-size: 2rem;
    }
    .info p {
        font-size: .9rem;
    }
}

/* CSS for JS */
.menuDisplay {
    transform: scale(1);
} 