*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.4;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: lawngreen;
}

.hero__text {
  font-size: 2rem;
  position: relative;
}
