*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: rgb(15, 24, 44);
    text-transform: capitalize;
}

main {
    max-width: 1500px;
    margin: 3em auto;
    padding: 1em;
}

header {
    text-align: center;
    margin: 2em 0;
}

header h1 {
    font-size: 2.2rem;
}

header .underline {
    width: 6%;
    border: 2px solid rgb(150, 99, 99);
    margin: .3em auto;
}

header .btn-container {
    margin: 1em 0;
}

.btn {
    border: 1px solid rgb(104, 70, 70);
    padding: .4em 1em;
    border-radius: 5px;
    font-size: .9rem;
    letter-spacing: 1px;
    color: rgb(95, 73, 73);
    font-weight: bold;
    cursor: pointer;
}

.main-content {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: baseline; */
    /* justify-content: space-between; */
    /* align-items: center; */
    row-gap: 1em;
    column-gap: .5em;
    /* border: 1px solid red; */
    /* gap: .5rem .3rem; */
    /* padding: .8em; */
}

.main-content .menu {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* grid-row: 1/1; */
    /* grid-column: 1/1; */
    padding: .3em;
    /* border: 1px solid blue; */
}

img {
    width: 52%;
    height: 30vh;
    object-fit: cover;
    margin-right: .5em;
    border: 3px solid rgb(150, 99, 99);
    border-radius: 4px;
}

.menu .info {
    width: 47%;
    /* margin-left: .4em; */
    /* border: 1px solid green; */
    padding: .3em;
    /* text-align: center; */
    /* margin: 0 auto; */
}

.info-header {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* font-size: .7rem; */
    margin: .5em 0;
}

.info-header h3 {
    font-size: .9rem;
    color: rgb(15, 24, 31);
    padding: .1em;
}

.info-header h5 {
    font-size: .8rem;
    font-weight: bold;
    margin-left: .1em;
    color: rgb(73, 46, 46)
}

.info p {
    font-size: .8rem;
    margin-top: .8em;
    color: rgb(80, 56, 45);
    text-align: left;
}

@media screen and (max-width: 1022px) {
    img {
        height: 25vh;
    }
}
@media screen and (max-width: 800px) {
    img {
        height: 18vh;
    }
}
@media screen and (max-width: 700px) {
    img {
        height: 15vh;
    }
    body {
        font-size: 5px;
    }
    .info {
        padding: 0;
    }
    .info p {
        margin-top: .5em;
        font-size: 2.2em;
    }

}
@media screen and (max-width: 600px) {
    img {
        height: 12vh;
    }
    body {
        font-size: 5px;
    }
    .info p {
        margin-top: .5em;
        font-size: 2em;
    }

}

@media screen and (max-width: 500px) {
    body {
        font-size: 4px;
    }
    .main-content {
        grid-template-columns: 1fr
    }
    .btn {
        font-size: .6rem;
        /* font-weight: 400; */
        /* padding: .3em; */
        letter-spacing: 0;
    }
    .info-header h3 {
        font-size: .6rem;
    }
    .info-header h5 {
        font-size: .5rem;
    }
    header h1 {
        font-size: 1.5rem;
    }
}